@charset "utf-8";
/* CSS Reset */
html{
  height: 100%;
  font-family: 'Microsoft Yahei', "微软雅黑", Tahoma, 'Times New Roman', Arial, Helvetica, STHeiti;
  margin: 0;
  padding: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, form, fieldset, legend, button, input, textarea, th, td ,code{ margin:0px; padding:0px;}

body{
  height: 100%;
  cursor:default;
}

address, cite, dfn, em, var { font-style:normal; }

code, kbd, pre, samp { font-family:"courier new", "courier, monospace"; }

small { font-size:12px; }

ul, ol, li { list-style:none; }

sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }

legend { color:#000; }
fieldset, img { border:none 0; }

table { border-collapse:collapse; border-spacing:0; }

h2{
  font-size: 32px;
  color: #565656;
  text-shadow: 0 1px 1px white;
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whiteSmoke;
  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #CCC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success, .btn-success:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
/* CSS Reset End */

.nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 black;
  -moz-box-shadow: 0 1px 0 #000;
  box-shadow: 0 1px 0 black;
}

.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

.nav a{color: rgba(255, 255, 255, 0.7);}
.nav a:hover{ color: #FFF;}
.nav nav{ float: right;}
.nav nav a{ padding: 10px; }

#lucky-draw{
  height: 600px;
  margin-bottom: 50px;
  background: url('../images/header_bg.jpg') no-repeat center 50px,
              #08031A url('../images/header_bg_repeat.png') left top repeat;
  text-align: center;
  text-shadow: 0 1px 1px black;
  -webkit-user-select: none;
  border-bottom: 1px solid black;
}

#lucky-draw .container{
  background: url('../images/header_icons.png') 75px 90px no-repeat;
  width: 960px;
  height: 100%;
  padding: 0 10px;
  margin: auto;
  position: relative;
}

#random-container{
  height: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin: -80px 0 0 0;
  text-align: center;
}

#random{
  color: #FFF;
  font-size: 5em;
  text-shadow: #612C0C -2px 2px 0px;
}

#actions{
  width: 100%;
  height: 50px;
  margin: 150px 0 0 0;
  position: absolute;
  top: 50%;
  text-align: center;
}

#lucky-button{
  width: 100px;
  height: 42px;
  line-height: 43px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #00ADFC;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWRmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDVkYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00ADFC),color-stop(100%,#005DB7));
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5),inset 0 -1px 0 rgba(255, 255, 255, .1),0 0 3px 1px black;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.1),0 0 3px 1px #000;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5),inset 0 -1px 0 rgba(255, 255, 255, .1),0 0 3px 1px black;
  -webkit-user-select: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.page-title{
  text-align: center;
  padding: 0px 20px;
}

#lucky-names{
  color: #E36B23;
  font-size: 1.2em;
}

#lucky-names li{
  padding: 10px 0;
  float: left;
  width: 240px;
}

#tickets{ width: 100%;}
#tickets tr td{ padding: 10px 15px; border: 1px solid #CCC}
#tickets tr td:first-child{  }
#tickets tr td:last-child{ width: 50px; text-align: center; }

.import{
  width: 100%;
  text-align: center;
}

#data-source{
  width: 100%;
  max-width: 958px;
  height: 300px;
  padding: 5px;
}


.container::before, .container::after {
  display: table; content: "";
}

.container::after {
  clear: both;
}